<% method =  @cat.persisted? ? 'patch' : 'post'%>
<% new_url = @cat.persisted? ? cat_url(@cat.id) : cats_url %>

<form action= <%= new_url %> method="post">
<input type="hidden" name="_method" value=<%=method%>>
  <label for="cat_name">Name:</label>
  <input type="text" name="cat[name]" value = "<%= @cat.name %>" id="cat_name">
</br>

  <label for="cat_sex">Gender:</label>
  m<input type="radio" name="cat[sex]" value="m" id="cat_sex" <%= "checked" if @cat.sex == "m" %>>
  f<input type="radio" name="cat[sex]" value="f" id="cat_sex"<%= "checked" if @cat.sex == "f" %>>
</br>


  <label for="cat_color">Color:</label>
  <select name="cat[color]" id="cat_color">
    <option value="select a color" disabled="true" <%= "selected" if @cat.color.nil? %>> Select a color:</option>
    <option value="brown"  <%= "selected" if @cat.color == "brown" %> >brown</option>
    <option value="grey"  <%= "selected" if @cat.color == "grey" %> >grey</option>
    <option value="black"  <%= "selected" if @cat.color == "black" %> >black</option>
    <option value="white"  <%= "selected" if @cat.color == "white" %> > white </option>
  </select>
</br>

  <label for="cat_birth_date">Birth Date:</label>
  <input type="date" name="cat[birth_date]" id = "cat_birth_date" value="<%= @cat.birth_date %>">
</br>

  <label for = "cat_description">Description:</label>

  <textarea name="cat[description]" id ="cat_description" ><%= @cat.description %></textarea>

</br>

<button>Submit</button>
</form>
